.createButton {
    background: var(--blue-dark);
    color: var(--gray-100);
    padding: 0 1rem;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: .5s;
}

.createButton:hover:not(:disabled) {
    background: var(--blue);
}

.createButton:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

@media screen and (max-width: 400px) {
    .createButton {
        justify-content: center;
        height: 3.375rem;
    }
}