.tasksContainer {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
}

.tasks {
    width: 100%;
    max-width: 46rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.info div {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
}

.info div p {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 2px 8px;
    border: 0;
    border-radius: 999px;
    font-size: 0.75rem;
}

.createdTasks strong {
    color: var(--blue);
}

.completedTasks strong {
    color: var(--purple);
}

.listEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    line-height: 140%;
}

.listEmpty strong {
    margin-top: 1rem;
    font-weight: 700;
}