.task {
    background: var(--gray-500);
    color: var(--gray-100);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.875rem;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.task div {
    display: flex;
    gap: 0.75rem;
}
/*
.check {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 999px;

    cursor: pointer;
    transition: .3s;
}

.check:hover {
    background: var(--blue);
    opacity: .5;
}
*/ 
.cross {
    text-decoration: line-through;
    color: var(--gray-300);
    transition: .5s;
}

.trash {
    background: var(--gray-500);
    color: var(--gray-300);
    border: 0;
    border-radius: 8px;
    padding: 5px 5px 1px;
    align-self: self-start;
}

.trash:hover {
    background: var(--gray-400);
    color: var(--danger);
}